body{background-color: #f5f8fa !important;font-family: 'Noto Sans', sans-serif;}

img.vote{
    padding: 8px;
    background-color: blue;
    border-radius: 50%;
    opacity: 1;
}

img.no-vote{
    padding: 8px;
    background-color: #bbb;
    border-radius: 50%;
    opacity: .1;
}

/*#unfollow-btn{
  display: none;
}*/

.image-ad img{
    margin: 0 0 10px 0;
}

.control-label{
    text-transform: capitalize;
}

.control-label-left{
    padding-top: 7px;
    margin-bottom: 0;
    text-align: left;
    font-family: 'Noto Sans', sans-serif;
}

.panel-default>.panel-heading {
    text-transform: capitalize;
}

#jobs > option{
    width: 33%;
}

*:focus {
    outline: 0 !important;
}

.hoc_tap_success-btn,
.hoc_tap_delete-btn,
.hoc_tap_edit-btn{
    margin: 0 5px;
}

.form-hoc-tap-group{
    border-top:1px solid #ccc;
    padding-top: 15px;
}

.form-kinh-nghiem-group{
    border-top:1px solid #ccc;
    padding-top: 15px;
}

.first-form{
    border-top:none;
    padding-top: 15px;
}

.kinh-nghiem-hide{
    line-height: 30px;
    font-size: 16px;
    color: green;
}

.language-delete{
    padding: 0px;
    color: #fff;
    background: red;
    border-radius: 3px;
    margin-left: 15px;
}

.qualification-delete{
    padding: 0px;
    color: #fff;
    background: red;
    border-radius: 3px;
    margin-left: 15px;
}

#images-plus img{
    width: 22%;
    margin: 10px;
    border-radius: 3px;
    float: left;
}

.curriculumvitae{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 0;
}
.curriculumvitae .main-top{
    margin-bottom: 10px;
}

.curriculumvitae  .panel-heading{
    border-bottom: 1px dashed #ccc;
    text-transform: uppercase;
}

.message-danh-gia{
    color:#ccc;
    line-height: 34px;
}

.info-page .info-company{
    margin-top: 20px;
}

.info-page .info-company .border-blue h3{
    color: #2865dc;
    margin-top: 0;
    font-weight: bold;
}

.remove-branch-class{
    display: block;
    background: url(../images/remove.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    float: left;
    position: relative;
    top: 6px;
    left: 10px;
}

.remove-image-class{
    display: block;
    background: url(../images/remove.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    float: left;
    position: relative;
    top: 2px;
    left: -20px;
}

.branch-class label{
    float: left;
}

#map {
    width: 100%;
    height: 400px;
    background-color: grey;
}

.show-curriculum-vitae-page .cv-info{
    font-size: 11px;
}

.show-curriculum-vitae-page .cv-btn-holder{
    width: 100%;
    margin: 0 auto;
    border: 2px solid #337ab7;
    border-radius: 4px;
}

.show-curriculum-vitae-page .cv-info-holder{
    margin: 20px -15px;
}

.show-curriculum-vitae-page .cv-btn-holder .btn{
    margin: 4px 2px;
    font-size: 12px;
}

.show-curriculum-vitae-page .cv-rate-holder {
    border: 2px solid #ccc;
    border-radius: 6px;
    padding: 20px;
}

.show-curriculum-vitae-page .cv-rates-holder {
    border: 2px solid #ccc;
    margin-top: 20px;
    border-radius: 6px;
    padding: 8px 20px;
}

.show-curriculum-vitae-page .cv-rates-holder .rate-holders-label {
    font-size: 20px;
    margin-bottom: 10px;
    border-bottom: 1px dashed #ccc;
}

.show-curriculum-vitae-page .cv-rates-holder .content-rate {
    margin:10px 0;
}

.show-curriculum-vitae-page .cv-rates-holder .content-rate p.star-vote {
    margin:10px 0;
}

.show-curriculum-vitae-page .cv-rate-holder .rate-holder-label {
    font-size: 22px;
    text-align: center;
    margin-bottom: 10px;
}

.show-curriculum-vitae-page .cv-rates-holder img.vote {
    padding: 5px;
    background-color: blue;
    border-radius: 6px;
}

.show-curriculum-vitae-page .cv-rate-holder img.vote {
    padding: 9px;
    background-color: blue;
    border-radius: 6px;
}


/*admin city*/
.hidden-object{
    display: none;
    width: auto;
}

.show-object{
    display: block;
    width: auto;
}

.hot-new span,
.hot-new a{
    display: none;
}

.hot-jobs .list_item .contents .item-job .border-item .job-img img,
.need-jobs .list_item .contents .item-job .border-item .job-img img,
.new-jobs .list_item .contents .item-job .border-item .job-img img,
.new-employer .list_item .contents .item-job .border-item .job-img img{
    width: 128px;
    height: 128px;
}

.hot-jobs .list_item .contents .item-job .border-item .job-img,
.need-jobs .list_item .contents .item-job .border-item .job-img,
.new-jobs .list_item .contents .item-job .border-item .job-img,
.new-employer .list_item .contents .item-job .border-item .job-img{
    float: left;
    margin-right: 25px;
}

.hot-jobs .list_item .contents .item-job .border-item .details,
.need-jobs .list_item .contents .item-job .border-item .details,
.new-jobs .list_item .contents .item-job .border-item .details,
.new-employer .list_item .contents .item-job .border-item .details{
    float: left;
}

.hot-jobs .list_item .contents .item-job,
.need-jobs .list_item .contents .item-job,
.new-jobs .list_item .contents .item-job,
.new-employer .list_item .contents .item-job{
    clear:both;
    margin: 15px 0;
}

.new-employer .list_item .contents .item-job .border-item .details .sologan-text{
    color:red;
    font-size: 16px;
}

.new-employer .list_item .contents .item-job .border-item .details .work-title .company-name{
    font-size: 18px;
    text-transform: uppercase;
}


/*end admin city*/

@media (min-width: 992px) {
    .info-page .info-company .border-blue{
        border-left: 2px solid #2865dc;
        padding-left: 50px;
    }

    .info-page .info-company h5{
        margin-bottom: 20px;    
    }

    .info-page .info-company img{
        margin:10% 0% 0;
        width: 100%;
    }
}

.item-job{border-radius: 8px;border:1px solid #E7E7E7;border-top:8px solid #1976d2;position: relative;margin-top: 15px;background: white;}
.job-image{float: left;width: 20%;line-height: 100%;text-align: center;position: relative;}
.job-image img{border:1px solid #DDDDDD;border-radius: 50%;padding:10px;width: 80%;height: 80%;}
.job-content{width: 80%;float: right;padding:15px 0;position: relative;}
.job-name{font-size: 14px;text-transform: uppercase;font-weight: bold;color:#0a73b7;}
.job-info{font-weight: bold;margin-top: 10px;margin-bottom: 20px;}
.job-info span{margin-right: 20px;margin-top: 10px;display: inline-block;}
.job-info span.active{color:red;}
.job-info span.active i{background-position: -40px -16px !important}
.job-info i{ background: url("../images/bg.png") no-repeat;width: 16px;height: 15px;display: inline-block;margin-bottom: -1px}
.job-info span:nth-child(1) i{background-position: -0px -16px}
.job-info span:nth-child(2) i{background-position: -20px -16px;width: 22px;height: 16px;margin-bottom: -3px}
.job-info span:nth-child(3) i{background-position: -85px -16px;width: 22px;height: 16px;margin-bottom: -3px}
.job-hot{background: #ff8400;color:white;padding: 5px 30px;display: inline-block;font-size: 14px}
.job-content a.job-view{font-weight: bold;position: absolute;bottom: 15px;right: 20px}
.job-content a.job-view::after{content:"";margin-left: 10px;width:20px;height: 15px;display:inline-block;background: url("../images/bg.png") -38px 0px;margin-bottom: -3px}

.text-upper{
    text-transform: uppercase;
}

#select-template ul li{
    width: 100%;
    padding: 8px 12px;
}

#select-template ul li:hover{
    background-color: #eee;
}
#select-template ul li div.select-template{
    width: 100%;
}

.homepage header .header-top .tab-content select#areyou{
    margin-left: 0;
}

.bootstrap-select.btn-group .dropdown-menu li{
    width: 100%;
}

.show-curriculum-vitae-page .panel-body li{
    margin: 0 0 0 15px;
}